@charset "UTF-8";
:root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.text-justify {
  text-align: justify !important;
}

html {
  margin: 0;
}

@media (max-width: 799px) {
  button.sidemenu {
    display: inline-block;
    position: absolute;
  }
}

body {
  background-color: #060623;
  color: #FCFCFC;
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
}
body > header {
  text-align: left;
  background-color: #323357;
  height: 5rem;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  body > header {
    height: 7rem;
  }
}
body > header .content {
  width: 90%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
body > header #logo {
  display: block;
  text-decoration: none;
}
body > header #logo img {
  max-width: 100%;
  max-height: 3.5rem;
}
body > header .topmenu {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  width: auto;
  justify-content: center;
}
@media (max-width: 991px) {
  body > header .topmenu {
    display: none;
  }
}
body > header .topmenu a {
  color: #FCFCFC;
  transition: ease-in 0.3s all;
}
body > header .topmenu a:hover {
  color: #c9c9c9;
}
body > header .userprofile {
  height: 50px;
  line-height: 45px;
  text-align: right;
}
body > header a.☰ {
  display: none;
}
@media (max-width: 991px) {
  body > header a.☰ {
    display: inline;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.topics {
  width: 20%;
  display: block;
}
.topics ul {
  list-style: none;
  text-align: justify;
}
.topics ul li {
  display: inline-block;
  padding: 0.5rem 0.4rem;
  margin-bottom: 0.25rem;
  margin-right: 5px;
  border-radius: 15px;
  background-color: #446F7D;
}
@media (max-width: 991px) {
  .topics {
    width: 100%;
    max-height: 0;
    position: fixed;
    overflow: hidden;
    background-color: #07072c;
    z-index: 999;
    transition: max-height 0.5s ease-out;
  }
}

body.sidemenu .topics {
  max-height: 100%;
}

main#posts_container {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  transition: 0.2s all;
}
@media (max-width: 992px) {
  main#posts_container {
    width: 70%;
  }
}
@media (max-width: 799px) {
  main#posts_container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  main#posts_container {
    width: 90%;
    margin-top: 25px;
  }
}
main#posts_container > section {
  margin-bottom: 30px;
  background-color: #323357;
  overflow: hidden;
  border-radius: 15px;
}
main#posts_container > section :is(h2, .section_media, div.section_body, .section_openclose) {
  margin-left: 20px;
  margin-right: 20px;
}
main#posts_container > section .comment {
  font-size: 18px;
}
@media (767px) {
  main#posts_container > section .comment {
    font-size: 20px;
  }
}

.section_openclose {
  text-align: center;
  display: inline-block;
  float: right;
  margin: 10px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

section:not(.open) .section_openclose:before {
  content: "View Post";
}

section.open .section_openclose:before {
  content: "Close Post";
}

main#posts_container > section img {
  max-width: 90%;
  height: auto;
  display: inline-block;
}

.section_media {
  min-height: 40px;
  text-align: center;
}

.section_media > * {
  max-width: 100%;
}

.section_media, .section_body {
  width: calc(100% - 40px);
  position: relative;
  display: inline-block;
}

section:not(.open) > .section_body {
  max-height: 120px;
  overflow: hidden;
}

.section_body {
  overflow: visible;
  height: auto;
  margin: 20px;
}

.section_footer {
  min-height: 50px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

div.bigimage {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  min-height: 100%;
  width: 100%;
  z-index: 10;
  overflow: scroll;
}
div.bigimage img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a.section_author {
  display: inline-block;
}

.section_header {
  text-align: right;
}
.section_header h2 {
  text-align: left;
  color: #fff;
  text-shadow: 0 0 3px #aaa;
}
.section_header > a.section_author {
  margin-right: 20px;
  font-size: 14px;
  font-style: italic;
}

section:empty {
  display: none;
}

.userprofile:not([logado]) > a.loggedon, .userprofile[logado] > a.loggedoff {
  display: none;
}
.userprofile[logado] > a.loggedon, .userprofile:not([logado]) > a.loggedoff {
  display: inline;
}
.userprofile a.loggedon span {
  font-size: 13px;
}
.userprofile a.loggedon img {
  height: 70%;
  position: relative;
  display: inline;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.userprofile span:before {
  content: "@";
}

[upload] {
  text-align: left;
}
[upload] .titulo_textarea {
  width: 100%;
  resize: vertical;
  font-size: 22px;
  max-height: 200px;
  min-height: 50px;
  margin-bottom: 20px;
}
[upload] .upload_section {
  text-align: center;
  margin: 20px;
  padding: 20px;
  vertical-align: middle;
}
[upload] input[type=file] {
  display: none;
}
[upload] .mediaobject {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px dotted #37474F;
  background: radial-gradient(circle, #546E7A 0%, #455A64 20%, #37474F 30%, #060623 65%, #323357 82%);
  cursor: pointer;
  position: relative;
  transition: 0.1s linear;
}
[upload] .mediaobject:not(:empty):before {
  content: "X";
  position: absolute;
  display: inline-block;
  background-color: #808080;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  opacity: 0.6;
}
[upload] .mediaobject > * {
  max-width: 100%;
}
[upload] .mediaobject:not(.dragenter):empty:before {
  content: "Click Here or paste URL below to choose a file";
  line-height: 100px;
  text-shadow: 0 0 13px black, 0 0 10px black, 0 0 7px black;
}
[upload] .mediaobject:not(.dragenter) {
  min-height: 100px;
}
[upload] .mediaobject.dragenter {
  background-color: gray;
  line-height: 100px;
  min-height: 300px;
}
[upload] .mediaobject.dragenter:empty:before {
  content: "Drop file here";
}
[upload] .mediaobject:empty:before {
  vertical-align: middle;
}
[upload] .mediaobject progress {
  background-color: #FCFCFC;
  width: calc(100% - 20px);
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
[upload] input[type=url] {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-top: 3px;
  margin-bottom: 20px;
}
[upload] .comentario_container .comentario_textarea {
  width: 100%;
  resize: vertical;
  font-size: 16px;
  max-height: 600px;
  min-height: 50px;
  margin-bottom: 20px;
}
[upload] footer > div {
  font-size: 16px;
}
[upload] footer > div:not(.button_div) {
  text-align: left;
  margin-bottom: 10px;
}
[upload] footer > div:not(.button_div) :is(label, input[type=checkbox]) {
  cursor: pointer;
}
[upload] footer > div.button_div {
  text-align: right;
  width: 100%;
}
[upload] footer > div.button_div .maxpay {
  height: 100%;
  min-width: 10px;
  min-height: 10px;
  float: left;
  text-align: center;
  height: 100%;
  line-height: 2em;
}
[upload] footer > div.button_div .maxpay > * {
  display: inline;
  line-height: 100%;
  position: relative;
}
[upload] footer > div.button_div button {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: unset;
  margin-left: auto;
  cursor: pointe;
}
[upload] footer > div.tags_div > input {
  width: 100%;
}
[upload] footer > div.original_label_div.disabled label {
  color: gray;
  text-decoration: line-through;
}
[upload] footer > div.button_div .maxpay {
  height: 100%;
  min-width: 10px;
  min-height: 10px;
  float: left;
  text-align: center;
  height: 100%;
  line-height: 2em;
}
[upload] footer > div.button_div .maxpay > * {
  display: inline;
  vertical-align: sub;
  line-height: 100%;
  position: relative;
}

footer #upload-link {
  position: fixed;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 50px;
  border-radius: 100%;
  background-color: #558B2F;
  box-shadow: 0 0 7px #689F38;
  right: 35px;
  bottom: 30px;
  display: block;
  transition: ease-in 0.2s;
}
footer #upload-link:hover {
  background-color: #1B5E20;
  box-shadow: 0 0 7px #2E7D32;
}
footer button {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #404040;
  border-radius: 10px;
  color: white;
}
footer button output {
  line-height: 25px;
  margin-right: 10px;
  margin-left: 5px;
  text-align: left;
  font-weight: bold;
}
footer button output:empty:before {
  content: "0";
}
footer button:before {
  font-size: 35px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
footer button.downvote output:last-child {
  color: #f55;
}
footer button.upvote:before {
  content: "👍";
}
footer button.loading {
  position: relative;
}
footer button.loading:before {
  animation-name: updown;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}
@keyframes updown {
  from {
    top: -20px;
  }
  to {
    top: 20px;
  }
}
footer button.downvote:before {
  content: "👎";
}
footer .tags_container {
  margin: 10px;
  margin-bottom: 2rem;
  width: 100%;
}
footer .tag_container {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #446F7D;
  box-shadow: 0 0 3px 3px #446F7D;
  border-radius: 15px;
}
footer .vote_block {
  display: flex;
  width: 50%;
  padding-top: 0.75rem;
}
@media (max-width: 490px) {
  footer .vote_block {
    width: 100%;
  }
}
footer button.upvote, footer button.downvote {
  cursor: pointer;
  height: 3.6rem;
  display: flex;
  transition: ease-in 0.3s all;
}
footer button.upvote:hover, footer button.downvote:hover {
  background: #29434b;
}
footer button.upvote .content, footer button.downvote .content {
  width: calc(100% - 50px);
  display: flex;
  flex-wrap: wrap;
}
footer button.upvote .content output, footer button.downvote .content output {
  width: 100%;
  text-align: center;
}
footer button.upvote.myvote {
  background-color: #2d6f00;
}
footer button.downvote.myvote {
  background-color: #5e0900;
}
footer.section_footer {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}
footer.section_footer .rpcontainer {
  height: 100%;
  width: 50%;
  display: inline-table;
}
@media (max-width: 490px) {
  footer.section_footer .rpcontainer {
    width: 100%;
  }
}
footer.section_footer .rpcontainer > * {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
}
footer.section_footer .rpcontainer > * > * {
  width: 100%;
  text-align: left;
  padding-left: 2rem;
}
footer.section_footer .rpcontainer > * output {
  vertical-align: middle;
  margin: 20px;
}
footer.section_footer .rpcontainer > * output:after {
  font-size: 15px;
  margin-left: 5px;
}
footer.section_footer .rpcontainer > * output:before {
  margin-right: 5px;
}
footer.section_footer .replies:after {
  content: "comments";
}
footer.section_footer .total_payout:not(.paid):after {
  content: "to be paid";
}
footer.section_footer .total_payout.paid:after {
  content: "paid";
}
footer.section_footer .total_payout:before {
  content: "$";
}

/*# sourceMappingURL=style.css.map */
