$lgmax: 1400px
$lgmin: 1200px
$mdmax: 1199px
$mdmin: 992px
$smmax: 991px
$smmin: 768px
$xsmax: 767px

$bodyColor: #212121
$textColor: #FCFCFC
$headerColor: #262b35
$postColor: #1d2023
$cardColor: #455A64
