.replies_container_div{
    transition: ease-in-out 1s;
}
.replies_container_div .replies_container_div:not(:hover) {
    width: calc(100% - 150px);
    margin-left: 150px;
    
}
.replies_container_div .replies_container_div:hover {
    width: calc(100% - 5px);
    margin-left: 5px;
}
.replies_container_div > section{
    display: inline-grid;
    grid-template-areas: "user text" "footer footer";
    width: 100%;
    grid-template-columns: 150px  1fr;
    border-top: 1px dotted;
    border-left: 1px dotted;
}
.replies_container_div > section > .leftside *{
margin-left: 0;    
    margin-right: 0;    
}
.replies_container_div > section > .leftside .author_name:before{
    content: "@";
}
.replies_container_div > section > .leftside
{
    grid-area: user;
    width: 150px;
    font-size: 12px;

}
.replies_container_div > section > .leftside img{
    max-height: 25px;
    max-width: 25px;
    border-radius: 50%;
}
.replies_container_div > section > .text
{
    text-align: left;
    grid-area: text;
    padding: 20px;
}
.replies_container_div > section > footer{
    grid-area: footer;
}
.replies_container_div > section > :is(.leftside,.text){
    
}

.text-justify{
    text-align: justify !important;
}
.text-right{
    text-align: right !important;
}
