:root {
    --menu-upload:              "Enviar";
    --menu-login:               "Logar";
    --menu-logout:              "Sair";
    --feed-view-post:           "Visualizar postagem";
    --feed-close-post:          "Fechar postagem";
    --feed-button-votes:        " votos";
    --feed-tobepaid:            "a ser pago em";
    --feed-paid:                "pago";
    --feed-comments:            "Comentários";
    --feed-feedisover:          "Fim do Feed";
    --upload-filedrop-area:     "Clique aqui ou cole a URL do arquivo abaixo";
    --upload-dropfilehere:      "Solte o arquivo aqui";
    --upload-media-file-url:    "URL do arquivo de mídia";
    --upload-title-post:        "Título da postagem(obrigatório)";
    --upload-optional-comments: "Comentários opcionais(tags HTML aceitas)";
    --upload-original-media:    "Mídia original";
    --upload-original-media-w:  "CUIDADO: Selecione essa opção apenas se você for o criador da mídia publicada. Mal uso dessa opção pode causar votos negativos.";
    --upload-high-value-post:   "Postagem de alto valor";
    --upload-high-value-post-w: "Selecione essa opção apenas se você acredita que sua postagem deva ser tratada como de alto valor. Mal uso dessa opção pode causar votos negativos.";
    --upload-tags:              "Tags(separadas por espaço)";
    --upload-tags-w:            "CUIDADO: Uso incorreto de tags não relacionadas pode causar downvotes.";
    --upload-max-payment:       "Pagamento máximo definido como $";
    --upload-publish-button:    "Publicar";
}